/* 
================================================
    Font Import
================================================
*/

@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");

/* 
================================================
    Color Variables
================================================
*/
:root {
  --primary-bg-color: #c7ddea;
  --secondary-bg-color: #f17949;
  --third-bg-color: #fab131;
  --bg-grey-color: #a9a19e;
  --bg-darkgrey-color: #777574;

  --font-black-op0-8: rgba(0, 0, 0, 0.8);
  --font-black-op0-7: rgba(0, 0, 0, 0.7);
  --font-black-op0-6: rgba(0, 0, 0, 0.6);
  --font-black-op0-5: rgba(0, 0, 0, 0.5);
  --font-black-op0-4: rgba(0, 0, 0, 0.4);

  --font-black-color: #000000;
  --font-white-color: #ffffff;
}

/* 
================================================
    Simple CSS Reset
================================================
*/
* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  max-width: 1440px;
}

body {
  background-color: #e5e5e5;
  font-size: 16px;
  margin: 0 auto;
  max-height: 34rem;
  max-width: 62.625rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Frank Ruhl Libre", sans-serif;
  margin: 0;
}

p {
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 
================================================
    Utilities
================================================
*/
.center {
  margin: 0 auto;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.btn {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.625rem;
  line-height: 0.75rem;
  width: 8.1875rem;
  text-align: center;
  background: #fff;
  border-radius: 6.25rem;
  padding: 0.84375rem 0;
  color: var(--font-black-op0-8);
  text-transform: uppercase;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

/* 
================================================
    Header Showcase
================================================
*/
#header .header-box-one {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1/3;
  position: relative;
}

#header .header-title {
  font-weight: 900;
  font-size: 2.8125rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--font-black-color);

  max-width: 19.625rem;
  max-height: 6.3125rem;

  margin: 4.4375rem 0 0 1.375rem;
  padding-bottom: 0.75rem;
}

#header .header-content-text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;

  max-width: 16.75rem;
  max-height: 6.4375rem;

  padding-bottom: 0.4375rem;
  padding-right: 2px;
  margin-left: -1.4375rem;
  color: var(--font-black-op0-6);
}

#header .header-content-text span {
  color: rgba(255, 255, 255, 0.6);
}

#header .header-image-box {
  position: absolute;
  bottom: -0.6875rem;
  right: 1.0625rem;
}

#header .header-image-box-one {
  max-width: 100%;
}

#header .btn {
  margin-top: 3.1875rem;
  margin-bottom: 11.1875rem;
  margin-left: -10rem;
}

#header .header-box-two,
#header .header-box-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header .header-box-two {
  background-color: var(--secondary-bg-color);
}
#header .header-box-three {
  background-color: var(--third-bg-color);
}
#header .header-box-two p,
#header .header-box-three p {
  max-width: 15.625rem;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: var(--font-black-op0-5);
  margin: 0;
}

#header .h3-title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5625rem;
  letter-spacing: -0.02em;
  color: var(--font-white-color);
  max-width: 15.625rem;
  margin: 0;
}

/* 
================================================
    Navigation
================================================
*/

#main-nav .nav-box {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 6px 0;
}

#main-nav li {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;

  color: var(--font-black-op0-4);

  width: 11.5625rem;
  height: 3.5625rem;
}

#main-nav .special-home {
  color: var(--font-black-color);
}

/* 
================================================
    Main Wrapper
================================================
*/

#main-container {
  height: 1224px;
  background: linear-gradient(
    var(--bg-grey-color) 50%,
    var(--third-bg-color) 50%
  );
  z-index: -1;
}

/* 
================================================
    Main Section A  
================================================
*/

#main-container .section-a {
  display: flex;
  justify-content: space-around;
}

#main-container .section-a-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6.4375rem;
}

#main-container .section-a-content h3 {
  max-width: 19.625rem;
  height: 8.75rem;
  font-size: 2.8125rem;
  margin: 0;
  font-weight: 900;
  line-height: 100%;

  letter-spacing: -0.02em;

  color: #ffffff;
}

#main-container .lorem {
  max-width: 17.5rem;
  height: 14.8125rem;
  margin-top: 6.4375rem;
}

#main-container .lorem p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  color: var(--font-black-op0-6);
}

/* 
================================================
    Main Section B / Card Section
================================================
*/

#main-container .section-b {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 7.375rem;
}

#main-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 16rem;
  height: 19.25rem;
  background-color: var(--font-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#main-container .card-image {
  width: 14.75rem;
  height: 9.375rem;
}

#main-container .card-image-one,
#main-container .card-image-two,
#main-container .card-image-three {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}
#main-container .card-image-one {
  background-color: var(--primary-bg-color);
}

#main-container .card-image-two {
  background-color: var(--third-bg-color);
}

#main-container .card-image-three {
  background-color: var(--secondary-bg-color);
  padding-right: 20px;
}

#main-container .card h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  padding: 18px 10px 14px 10px;
}

#main-container .card p {
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;

  text-align: center;

  color: var(--font-black-op0-4);
  padding: 0 10px 10.625rem 10px;
  width: 13.375rem;
  height: 6.75rem;
}

/* 
================================================
    Main Section C / About Us
================================================
*/

#main-container .about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container .about-us-heading {
  display: flex;
  justify-content: center;
  width: 19.625rem;
  height: 6.3125rem;
  margin: 3.4375rem 0 10px 0;
}

#main-container .about-us-heading h2 {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 2.8125rem;
  line-height: 100%;

  letter-spacing: -0.02em;

  color: var(--font-white-color);
}

#main-container .about-us-text {
  width: 27.625rem;
  height: 17.5rem;
  margin-top: 11px;
}

#main-container .about-us-text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: var(--font-black-op0-6);
}

/* 
================================================
    How to Section
================================================
*/

#how-to .how-to-container {
  height: 42.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#how-to .how-to-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#how-to .how-to-card h4 {
  position: absolute;
  left: 10%;
  top: 10%;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;

  color: var(--font-black-op0-4);

  letter-spacing: -0.02em;
}
#how-to .how-to-card p {
  text-align: center;

  color: var(--font-black-op0-7);

  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
#how-to .how-to-one {
  background-color: var(--primary-bg-color);
}
#how-to .how-to-two {
  background-color: #ffffff;
}
#how-to .how-to-three {
  background-color: #ebebeb;
}
#how-to .how-to-four {
  background-color: var(--font-white-color);
}
#how-to .how-to-five {
  background-color: var(--secondary-bg-color);
}
#how-to .how-to-six {
  background-color: var(--font-white-color);
}

.how-to-one h2 {
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;

  text-align: center;

  letter-spacing: -0.02em;

  color: var(--font-black-op0-8);
}

/* 
================================================
    Take me up Section
================================================
*/

.take-me-up-container {
  background-color: #a9a19e;
}

.take-me-up-container a {
  height: 4.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.take-me-up-container img {
  opacity: 0.7;
}

.take-me-up-container p {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;

  color: var(--font-black-op0-7);
}

/* 
================================================
    Footer
================================================
*/

footer {
  height: 21.25rem;
  background-color: #777574;
}

/* 
================================================
    Mobile verison, Media Query
================================================
*/

@media (max-width: 376px) {
  body {
    width: 375px;
  }

  .grid-4 {
    grid-template-columns: 375px;
    grid-template-rows: 362px 362px 315px 315px;
  }
  /* 
================================================
    Header Showcase
================================================
*/
  #header .header-container {
    max-height: 100%;
    max-width: 100%;
  }
  #header header-box-one {
    align-items: unset;
  }

  #header .header-title {
    margin: 0;
    margin-left: 0;
    padding: 0 15px;
    margin-top: 71px;
  }

  #header .header-content-text {
    max-width: 100%;
    margin-left: 0;
    padding: 15px;
  }

  #header .btn {
    margin: 0;
    margin-top: 30px;
    margin-left: 15px;
  }

  /* 
================================================
    Navigation  
================================================
*/
  #main-nav {
    display: none;
  }

  /* 
================================================
    Main Container
================================================
*/
  #main-container {
    height: 1600px;
    background: #a9a19e;
  }
  /* 
================================================
    Section A  
================================================
*/
  #main-container .section-a {
    flex-direction: column;
    padding: 0 20px;
  }

  #main-container .section-a-content {
    margin: 40px 0 0 0;
    padding: 0;
    height: 100%;
  }

  #main-container .btn {
    display: none;
  }

  #main-container .lorem {
    margin: 20px 0 0 0;
    max-width: 100%;
  }

  /* 
================================================
    Section B
================================================
*/
  #main-container .section-b {
    margin: 20px 0 0 0;
  }
  #main-container .card {
    margin-bottom: 70px;
  }

  /* 
================================================
    Section C  
================================================
*/
  #main-container .about-us-container {
    background-color: var(--third-bg-color);
    height: 550px;
    justify-content: unset;
  }
  #main-container .about-us-heading {
    margin: 20px 0 0 0;
  }

  #main-container .about-us-text {
    width: 375px;
    padding: 0 48px;
    margin: 0;
  }

  /* 
================================================
    How to Section  
================================================
*/
  #how-to .how-to-container {
    height: unset;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 170px);
  }

  #how-to .how-to-card h4 {
    top: 7%;
    left: 2%;
  }

  #how-to .how-to-card p {
    width: 257px;
  }
  /* 
================================================
    Take me up
================================================
*/
  .take-me-up-container {
    display: none;
  }
  /* 
================================================
    Footer  
================================================
*/
  footer {
    height: 218px;
  }
}
